# Fichiers temporaires
.DS_Store
Thumbs.db

# Dossiers de cache
node_modules/
.npm/
.cache/

# Fichiers d'environnement
.env
.env.local

# Fichiers d'éditeur
.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*
